body {
    margin: 0;
    background-color: yellow;
}
div.calculator {
    width: 400px;
    height: 450px;

    background-color: #ccc;
}

div.visor {
    margin: 15px;
}

div.visor p{
    text-align: right;
    font-size: 30px;
    height: 60px;
    background-color: white;
    color: black;
    margin: 0px;
    padding-right: 12px;
}
/*botoes normais*/
div.buttons > div > button {
    width: 70px;
    height: 40px;
    /*margin: */
}
/*igual*/
div.buttons > button {
    width: 70px;
    height: 90px;
    /*margin: */
}